$colorIngredient: #3282f7;
$colorAppliance: #68d9a4;
$colorIngredientUstensil: #ed6454;
$grey: #e7e7e7;
$darkGrey: #c7bebe;

body {
	max-width: 1280px;
  width: 90vw;
	margin: auto;

	& * {
		font-family: "Lato", sans-serif;
	}
}

h1 {
	font-weight: bold;
}
