$colorIngredient: #3282f7;
$colorAppliance: #68d9a4;
$colorUstensil: #ed6454;
$grey: #e7e7e7;
$darkGrey: #c7bebe;
$breakpoints: (
  tablet: 768px,
  desktop: 1024px,
  largeDesktop: 1440px,
);

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)) {@content}
};
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {@content}
};
@mixin largeDesktop {
    @media screen and (min-width: map-get($breakpoints, largeDesktop)) {@content}
};

body {
  max-width: 1280px;
  width: 90vw;
  margin: auto;

  & * {
    font-family: "Lato", sans-serif;

    ::-webkit-scrollbar {
      width: 6px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }
}

h1 {
  font-weight: bold;
}

button,
input,
fieldset {
  border: none;
  background-color: transparent;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.helperText {
  font-size: 1.125rem;
  color:rgba(0, 0, 0, 0.2);
}
