.dropdown {
  border-radius: 5px;
  position: relative;
  height: fit-content;
  z-index: 3;
  width: 100%;
  
  @include desktop {
    width: auto;
  }

  .hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .dropdownInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    * {
      color: white;
      font-size: 1rem;
      
      @include tablet {
        font-size: 1.125rem;
      }
    }

    input {
      padding: 1rem 0.5rem;
      width: 100%;
      
      @include tablet {
        padding: 1.5rem 1rem;

      }

      @include desktop {
        width: 100px;

      }

      &::placeholder {
        color: white;
      }
      &:focus-visible {
        outline: none;
      }
      transition: width 1s;
    }

    button.icon {
      width: 3rem;
      cursor: pointer;

      &::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
      }
      transition: transform 0.5s;
    }
  }

  .absolutePosition {
    position: absolute;
    left: 10rem;
    top: 0;
  }
}

.dropdown.open {
  z-index: 4;

  ::placeholder {
    opacity: 0.8;
  }

  button.icon {
    transform: rotate(180deg);
  }

  input {
    @include desktop {
      width: 400px;
    }
    @include largeDesktop {
      width: 500px;
      
    }
  }
}

.dropdownExpansion {
  position: absolute;
  z-index: 5;
  margin-top: -10px;
  width: calc(100% - 1.2rem);
  display: grid;
  justify-content: space-between;
  align-items: flex-start;
  
  border-radius: 0 0 5px 5px;
  grid-template-columns: 33% 33% 30%;
  justify-items: flex-start;
  padding: 0.5rem 0.6rem;
  
  max-height: 300px;
  overflow-y: auto;
  
  @include tablet {
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
    
  }
  
  button {
    font-size: 1rem;
    color: white;
    padding: 0;
    margin-bottom: 0.8rem;
    text-align: start;
    cursor: pointer;

    @include tablet {
      font-size: 1.125rem;
  
    }
  }
}



#appliance {
  background-color: $colorAppliance;
  .dropdownExpansion {
    background-color: $colorAppliance;
  }
}
#ingredients {
  background-color: $colorIngredient;
  .dropdownExpansion {
    background-color: $colorIngredient;
  }
}
#ustensils {
  background-color: $colorUstensil;
  .dropdownExpansion {
    background-color: $colorUstensil;
  }
}


